:root {
    --x: 60px;
    --minHeight: 500px;
    --minSlide: 20px;
    --swapDist: 60px;
    --mergeSlide: 0px;
}


body{
    background-color: whitesmoke;
    text-align: center;
}
#container {
    min-width: 400px;
    min-height: 400px;

    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
}

#container span {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    min-height: 50px;
    max-height: 50px;
    min-width: 50px;
    top: 0;
    background-color: hsl(0, 0%, 20%);
    border: 5px solid #C43EF9FF;
    border-radius: 20%;
    color: aliceblue;
    font-size: 1.7em;
    z-index: 0;
    margin-bottom: 80px;
}
#container div{
    font-size: 1em;
    color: whitesmoke;
}
.half {
    display: inline-block;
}
.merge-blocks{
    color: white;
    background-color: #333333;
    border-radius: 50%;
}
.newSpan {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    min-height: 50px;
    min-width: 50px;
    background-color: hsl(0, 0%, 50%);
    border: 5px solid hsl(283, 94%, 61%);
    border-radius: 20%;
    color: aliceblue;
    font-size: 1.7em;
    position: absolute; /* Position absolutely */
    top: 0; /* Place at the top of the parent */
    left: 0; /* Place at the left of the parent */
    z-index: 0; /* Behind the original span */
}
.brackets{
    font-size: 2rem;
}
#min {
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    min-height: 50px;
    min-width: 50px;
    top: 0;
    background-color: hsl(0, 0%, 20%);
    border: 5px solid hsl(283, 94%, 61%);
    border-radius: 20%;
    color: aliceblue;
    font-size: 1.7em;

}

.myTextarea {
    position: absolute;
    left: 135px; 
    top: 350px;
    width: 300px;
    height: 60px;
    background-color:black;
    border: none;
    font-size: 18px;
    text-align: center;
    color: #2ecc71;
    resize: none;

}

.disabled{
    color: rgb(160, 160, 160);
    background-color: rgb(83, 82, 82);
    border: 5px solid hsl(0, 0%, 16%);
}



/* Animations */


@keyframes slideInLeft {
    0%{transform:translate3d(0px, 0px, 0px);}
    33%{transform: translate3d(0px, 30px, 0px);}
    66%{transform: translate3d(calc(-1 * var(--swapDist)), 30px, 0px);}
    100%{transform: translate3d(calc(-1 * var(--swapDist)), 0px, 0px);}  
}
@keyframes slideInRight{
    0%{transform:translate3d(0px, 0px, 0px)}
    33%{transform: translate3d(0px, -30px, 0px);}
    66%{transform: translate3d(var(--swapDist), -30px, 0px);}
    100%{transform: translate3d(var(--swapDist), 0px, 0px);}  
}
@keyframes dragDown{
    0%{transform:translate3d(0px, 0px, 0px);}
    100%{transform: translate3d(0px, 70px, 0px);}
}
@keyframes rightShift{
    0%{transform:translate3d(0px, 0px, 0px);}
    100%{transform: translate3d(60px, 0px, 0px);}

}
@keyframes restingPosition {
    0% { transform: translate3d(0px, 70px, 0px); }
    50% { transform: translate3d(calc(-1 * var(--x)), 70px, 0px); }
    100% { transform: translate3d(calc(-1 * var(--x)), 0px, 0px); }
}
@keyframes newMinimum {
    0%{transform: translate(0px, 0px);}
    60%{transform: translate3d(0px, 150px, 0px);}
    100%{transform: translate3d(var(--minSlide), 150px, 0px);}
}
@keyframes mergeSort {
    0% { transform: translateY(0); }
    100% { transform: translateY(70px); }
}

@keyframes split {
    0% { transform: translateY(0); }
    100% { transform: translateY(70px); }
}

@keyframes RGBborder {
    0% { border-color: rgb(255, 0, 0); }
    10% { border-color: rgb(218, 53, 3); }
    30% { border-color: rgb(181, 248, 39); } 
    40% { border-color: rgb(0, 255, 0); } 
    60% { border-color: rgb(0, 217, 255); } 
    80% { border-color: rgb(34, 0, 255); } 
    100% { border-color: rgb(255, 0, 183); } 
}
@keyframes RGB {
    0% { box-shadow: 0 0 10px rgb(255, 0, 0); } 
10% { box-shadow: 0 0 20px rgb(255, 69, 0); } 
20% { box-shadow: 0 0 30px rgb(255, 165, 0); } 
30% { box-shadow: 0 0 40px rgb(255, 255, 0); } 
40% { box-shadow: 0 0 45px rgb(173, 255, 47); } 
50% { box-shadow: 0 0 50px rgb(0, 255, 0); } 
60% { box-shadow: 0 0 55px rgb(0, 255, 255); } 
70% { box-shadow: 0 0 60px rgb(30, 144, 255); } 
80% { box-shadow: 0 0 65px rgb(0, 0, 255); } 
90% { box-shadow: 0 0 70px rgb(138, 43, 226); } 
100% { box-shadow: 0 0 75px rgb(255, 0, 255); } 
}
@keyframes mergeRestingPlace {
    0%{transform: translate3d(0px, 0px, 0px);}
    
    100%{transform: translate3d(var(--mergeSlide), -140px, 0px);}
}

    /*
        animation-name: slideInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: none;
    `*/
    

/*UTILITY CLASSES*/


.glow-border {
    animation: RGBborder 4s infinite, RGB 4s infinite;
    border: 6px solid transparent;
}



/*BubbleSort*/
.slideInLeft{
    animation: slideInLeft 2s ease-in-out forwards;

}
.slideInRight{
    animation: slideInRight 2s ease-in-out forwards;
}

/*InsertionSort*/

.shiftRight{
    animation: rightShift 1s ease-in-out;
    transform: translateX(60px);

}
.dragDown{
    animation: dragDown 1s ease-in-out forwards;
}
.restingPosition {
    animation: restingPosition 2s ease-in-out forwards;

}

/*SelectionSort*/
.newMinimum{
    animation: newMinimum 2s ease-in-out forwards;
}

/*Merge sort*/
.block {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    margin: 0 2px;
    transition: height 0.3s;
    
}

.sorted {
    background-color: #2ecc71;
}

.mergeRestingPlace{
    content: attr(data-content);
    animation: mergeRestingPlace 2s ease-in-out forwards;
}




